body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6495ED;
}

header {
    background-color: #6495ED;
    color: #fff;
    padding: 40px 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: black;
    float: left;
    margin-right: 30px;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url("karang.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

.hero h1,
.hero h2 {
    margin: 0;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin: 20px 0;
    font-size: 18px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 24px;
}

.gallery {
    padding: 50px 0;
}

.gallery .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery .image {
    width: 32%;
    margin-bottom: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #6495ED;
    padding: 20px 0;
    text-align: center;
}
.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: